<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatures</title>
</head>

<body>
    <h1>Temperature List</h1>
    <ul>
        <% temperatures.forEach(temp => { %>
            <li><%= temp %>°C</li>
        <% }); %>
    </ul>
</body>
</html>
